# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# astro
.astro/

# IDE / OS
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
